# US Mortgage Market Analysis

## Introduction

This project will conduct an exploratory analysis on the loan-level data reported by banks and financial institutions in the United States on mortgages granted to the public. The [Home Mortgage Disclosure Act](https://www.consumerfinance.gov/data-research/hmda/) mandates that certain banks and institutions in the US report this information periodically.

The dataset used in this project was downloaded as a CSV file directly from the [HMDA Dataset Filtering](https://ffiec.cfpb.gov/data-browser/data/2021?category=nationwide) website. It contains 26 million records that financial institutions reported nationwide in 2021, with 99 variables, and weighs 10.21 gigabytes.

A detailed explanation of the data fields and definitions can be found [here](https://ffiec.cfpb.gov/documentation/2020/lar-data-fields/).

> **Note**: For more details on this project, please refer to the [Github repository](https://github.com/mandelbrojt/hum-dah).

## Exploratory Data Analysis

### Importing Libraries

In [2]:
import numpy as np
import pandas as pd

### Loading Random Sample

In [60]:
# Set the sample size
sample_size = 100000

# Randomly permute a sequence
random_rows = np.random.permutation(sample_size)

In [61]:
# Creates anonymous function to get specific rows
sampler = lambda x: x not in random_rows

# Loads dataset using random rows
mortgage_df = pd.read_csv("./datasets/year_2021.csv", skiprows=sampler)

/var/folders/vp/n1ch_qwj49vcp8qzq3w6n7hc0000gn/T/ipykernel_9987/4165398125.py:5: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  mortgage_df = pd.read_csv("./datasets/year_2021.csv", skiprows=sampler)

In [62]:
mortgage_df

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,54930034MNPILHP25H80,12420,TX,48209,48209010901,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,8001,24.27,98900,139,2612,2933,26
1,2021,54930034MNPILHP25H80,99999,AL,1043,1043964900,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Joint,...,NaN,NaN,NaN,6334,7.61,53400,126,1779,2508,38
2,2021,54930034MNPILHP25H80,26420,TX,48039,48039663400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7554,42.31,79800,107,1629,1871,24
3,2021,54930034MNPILHP25H80,99999,SD,46047,46047964100,C,FSA/RHS:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2714,6.41,70600,103,1057,1986,39
4,2021,54930034MNPILHP25H80,27260,FL,12031,12031013402,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4972,54.59,74800,57,1021,2027,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,2021,RVDPPPGHCGZ40J4VQ731,17820,CO,8041,8041005108,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,9009,28.27,81900,120,2241,2934,20
99995,2021,RVDPPPGHCGZ40J4VQ731,99999,TN,47155,47155080202,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5413,7.57,53700,129,1561,2098,17
99996,2021,RVDPPPGHCGZ40J4VQ731,41180,MO,29183,29183311736,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,6925,21.44,84700,146,2007,2127,15
99997,2021,RVDPPPGHCGZ40J4VQ731,45300,FL,12057,12057012213,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4143,35.60,72700,111,1307,1521,33
99998,2021,RVDPPPGHCGZ40J4VQ731,10420,OH,39153,39153520600,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3588,7.27,83300,92,1306,1593,59

### Filtering Missing Data

In [63]:
num_rows, num_cols = mortgage_df.shape

In [64]:
# Drops rows that are all missing values
mortgage_df.dropna(how="all", inplace=True)

# Drops columns that have more than 95% of its values as NAs
#mortgage_df.dropna(thresh=num_rows*0.05, axis=1, inplace=True)

# Drops columns that are all missing values
mortgage_df.dropna(how="all", axis=1, inplace=True)

# Reset index values
mortgage_df.reset_index(drop=True, inplace=True)

In [65]:
# Freequency table of missing values per column
na_counts = mortgage_df.isna().sum().sort_values(ascending=False)

# Filters out columns with non-missing values
na_counts = na_counts[na_counts > 0]

# Convert to relative frequency table
na_freq_tab = na_counts / num_rows

In [66]:
na_freq_tab

co-applicant_ethnicity-4        0.999970
co-applicant_race-5             0.999960
aus-2                           0.999880
applicant_race-5                0.999860
co-applicant_race-4             0.999840
denial_reason-4                 0.999770
applicant_race-4                0.999600
co-applicant_ethnicity-3        0.999520
applicant_ethnicity-3           0.999420
co-applicant_race-3             0.998430
denial_reason-3                 0.996530
applicant_race-3                0.996390
total_points_and_fees           0.991490
multifamily_affordable_units    0.986550
co-applicant_race-2             0.982390
denial_reason-2                 0.978740
co-applicant_ethnicity-2        0.976790
applicant_race-2                0.961460
prepayment_penalty_term         0.959660
applicant_ethnicity-2           0.947089
discount_points                 0.858619
intro_rate_period               0.814738
lender_credits                  0.799138
co-applicant_age_above_62       0.519035
total_loan_costs                0.462415
origination_charges             0.462355
rate_spread                     0.428404
debt_to_income_ratio            0.297403
interest_rate                   0.242502
loan_to_value_ratio             0.172872
income                          0.169122
property_value                  0.119911
applicant_age_above_62          0.044230
conforming_loan_limit           0.007000
loan_term                       0.000410
applicant_race-1                0.000050
applicant_ethnicity-1           0.000050
co-applicant_race-1             0.000030
co-applicant_ethnicity-1        0.000020
state_code                      0.000010
dtype: float64

In [67]:
mortgage_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 93 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             99999 non-null  int64
 1   lei                                       99999 non-null  object
 2   derived_msa-md                            99999 non-null  int64
 3   state_code                                99998 non-null  object
 4   county_code                               99999 non-null  int64
 5   census_tract                              99999 non-null  int64
 6   conforming_loan_limit                     99299 non-null  object
 7   derived_loan_product_type                 99999 non-null  object
 8   derived_dwelling_category                 99999 non-null  object
 9   derived_ethnicity                         99999 non-null  object
 10  derived_race                              99999 non-null  object
 11  derived_sex                               99999 non-null  object
 12  action_taken                              99999 non-null  int64
 13  purchaser_type                            99999 non-null  int64
 14  preapproval                               99999 non-null  int64
 15  loan_type                                 99999 non-null  int64
 16  loan_purpose                              99999 non-null  int64
 17  lien_status                               99999 non-null  int64
 18  reverse_mortgage                          99999 non-null  int64
 19  open-end_line_of_credit                   99999 non-null  int64
 20  business_or_commercial_purpose            99999 non-null  int64
 21  loan_amount                               99999 non-null  float64
 22  loan_to_value_ratio                       82712 non-null  object
 23  interest_rate                             75749 non-null  object
 24  rate_spread                               57159 non-null  object
 25  hoepa_status                              99999 non-null  int64
 26  total_loan_costs                          53758 non-null  object
 27  total_points_and_fees                     851 non-null    object
 28  origination_charges                       53764 non-null  object
 29  discount_points                           14138 non-null  object
 30  lender_credits                            20086 non-null  object
 31  loan_term                                 99958 non-null  object
 32  prepayment_penalty_term                   4034 non-null   object
 33  intro_rate_period                         18526 non-null  object
 34  negative_amortization                     99999 non-null  int64
 35  interest_only_payment                     99999 non-null  int64
 36  balloon_payment                           99999 non-null  int64
 37  other_nonamortizing_features              99999 non-null  int64
 38  property_value                            88008 non-null  object
 39  construction_method                       99999 non-null  int64
 40  occupancy_type                            99999 non-null  int64
 41  manufactured_home_secured_property_type   99999 non-null  int64
 42  manufactured_home_land_property_interest  99999 non-null  int64
 43  total_units                               99999 non-null  object
 44  multifamily_affordable_units              1345 non-null   object
 45  income                                    83087 non-null  float64
 46  debt_to_income_ratio                      70259 non-null  object
 47  applicant_credit_score_type               99999 non-null  int64
 48  co-applicant_credit_score_type            99999 non-null  int64
 49  applicant_ethnicity-1                     99994 non-null  float64
 50  applicant_ethnicity-2                     5291 non-null   float64
 51  applicant_ethnicity-3                     58 non-null     float64
 52  co-applicant_ethnicity-1                  99997 non-null  float64
 53  co-applicant_ethnicity-2                  2321 non-null   float64
 54  co-applicant_ethnicity-3                  48 non-null     float64
 55  co-applicant_ethnicity-4                  3 non-null      float64
 56  applicant_ethnicity_observed              99999 non-null  int64
 57  co-applicant_ethnicity_observed           99999 non-null  int64
 58  applicant_race-1                          99994 non-null  float64
 59  applicant_race-2                          3854 non-null   float64
 60  applicant_race-3                          361 non-null    float64
 61  applicant_race-4                          40 non-null     float64
 62  applicant_race-5                          14 non-null     float64
 63  co-applicant_race-1                       99996 non-null  float64
 64  co-applicant_race-2                       1761 non-null   float64
 65  co-applicant_race-3                       157 non-null    float64
 66  co-applicant_race-4                       16 non-null     float64
 67  co-applicant_race-5                       4 non-null      float64
 68  applicant_race_observed                   99999 non-null  int64
 69  co-applicant_race_observed                99999 non-null  int64
 70  applicant_sex                             99999 non-null  int64
 71  co-applicant_sex                          99999 non-null  int64
 72  applicant_sex_observed                    99999 non-null  int64
 73  co-applicant_sex_observed                 99999 non-null  int64
 74  applicant_age                             99999 non-null  object
 75  co-applicant_age                          99999 non-null  object
 76  applicant_age_above_62                    95576 non-null  object
 77  co-applicant_age_above_62                 48096 non-null  object
 78  submission_of_application                 99999 non-null  int64
 79  initially_payable_to_institution          99999 non-null  int64
 80  aus-1                                     99999 non-null  int64
 81  aus-2                                     12 non-null     float64
 82  denial_reason-1                           99999 non-null  int64
 83  denial_reason-2                           2126 non-null   float64
 84  denial_reason-3                           347 non-null    float64
 85  denial_reason-4                           23 non-null     float64
 86  tract_population                          99999 non-null  int64
 87  tract_minority_population_percent         99999 non-null  float64
 88  ffiec_msa_md_median_family_income         99999 non-null  int64
 89  tract_to_msa_income_percentage            99999 non-null  int64
 90  tract_owner_occupied_units                99999 non-null  int64
 91  tract_one_to_four_family_homes            99999 non-null  int64
 92  tract_median_age_of_housing_units         99999 non-null  int64
dtypes: float64(24), int64(42), object(27)
memory usage: 71.0+ MB

In [68]:
# Frequency table of column data types
mortgage_df.dtypes.value_counts()

int64      42
object     27
float64    24
dtype: int64

In [69]:
mortgage_df.columns

Index(['activity_year', 'lei', 'derived_msa-md', 'state_code', 'county_code',
       'census_tract', 'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'action_taken', 'purchaser_type', 'preapproval',
       'loan_type', 'loan_purpose', 'lien_status', 'reverse_mortgage',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'hoepa_status', 'total_loan_costs', 'total_points_and_fees',
       'origination_charges', 'discount_points', 'lender_credits', 'loan_term',
       'prepayment_penalty_term', 'intro_rate_period', 'negative_amortization',
       'interest_only_payment', 'balloon_payment',
       'other_nonamortizing_features', 'property_value', 'construction_method',
       'occupancy_type', 'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'multifamily_affordable_units', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'applicant_ethnicity_observed',
       'co-applicant_ethnicity_observed', 'applicant_race-1',
       'applicant_race-2', 'applicant_race-3', 'applicant_race-4',
       'applicant_race-5', 'co-applicant_race-1', 'co-applicant_race-2',
       'co-applicant_race-3', 'co-applicant_race-4', 'co-applicant_race-5',
       'applicant_race_observed', 'co-applicant_race_observed',
       'applicant_sex', 'co-applicant_sex', 'applicant_sex_observed',
       'co-applicant_sex_observed', 'applicant_age', 'co-applicant_age',
       'applicant_age_above_62', 'co-applicant_age_above_62',
       'submission_of_application', 'initially_payable_to_institution',
       'aus-1', 'aus-2', 'denial_reason-1', 'denial_reason-2',
       'denial_reason-3', 'denial_reason-4', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')

In [70]:
mortgage_df["lei"].unique()

array(['54930034MNPILHP25H80', '549300EKCY4J7PC8WH77',
       '549300U5SDGYPSPXZU37', '549300ZZ37YSVG4SJC73',
       '5493005YTC55FC2VCK79', '549300FQ2SN6TRRGB032',
       '549300DAUXQ2DCY4H838', '549300TF1E42EUFBSL45',
       'FT6J43S06X6CLJ0R0B48', '549300I042YER7UC6Y64',
       '549300Y0F8X17ADZK505', 'TKT6FH38184ZYBTPKS77',
       '549300HS110NTZNI7U69', 'D38AC76TAMYI50NBPX33',
       '5493001PXRJMPLXPG540', 'RVDPPPGHCGZ40J4VQ731'], dtype=object)

In [27]:
cols_to_dtypes = {
    "activity_year":"object",
    "lei":"str"
}